In [2]:
# import pandas library. install first if not yet installed

In [3]:
import pandas as pd

In [4]:
# load data into dataframes. 
# one dataframe has locationIDs with georeferenced data (georeferencedIDs)
# one has all of your collection's locationIDs (allLocationIDs)

In [5]:
allLocationIDs = pd.read_csv('allLocationIDs_publicSample.csv')

georeferencedIDs = pd.read_csv('georeferencedLocationIDs_publicSample.csv')

In [6]:
# check to see how data loaded
allLocationIDs.head()

,institutionCode,collectionCode,locationID,recordedBy,verbatimEventDate,continent,country,stateProvince,county,fieldNumber,...,earliestEpochOrLowestSeries,latestEpochOrHighestSeries,earliestAgeOrLowestStage,latestAgeOrHighestStage,stratGroup,stratFormation,stratMember,stratBed,bioZone,lithology
0,CASG,Fossil,1,Bruce Martin,NaN,North America,USA,Oregon,Coos,NaN,...,Pliocene,Pliocene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sandstone
1,CASG,Fossil,2,Bruce Martin,NaN,North America,USA,Oregon,Coos,NaN,...,Pliocene,Pliocene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CASG,Fossil,3,Bruce Martin,NaN,North America,USA,Oregon,Coos,NaN,...,Pliocene,Pliocene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CASG,Fossil,4,Bruce Martin,NaN,North America,USA,Oregon,Coos,NaN,...,Miocene,Miocene,NaN,NaN,NaN,Empire,NaN,NaN,NaN,NaN
4,CASG,Fossil,5,Bruce Martin,NaN,North America,USA,Oregon,Coos,NaN,...,Pliocene,Pliocene,NaN,NaN,NaN,Empire,NaN,NaN,NaN,NaN

In [7]:
# check to see how data loaded
georeferencedIDs.head()

,locationID,georeferenceVerificationStatus,georeferencedBy,georeferencedDate,georeferenceRemarks,geodeticDatum,georeferenceProtocol,georeferenceSources,decimalLongitude,decimalLatitude,coordinateUncertaintyInMeters,correctedUncertaintyRadiusCircularPolygonWKT,correctedUncertaintyPolygonWKT,dateImported
0,1,corrected,nafamoso,2016-12-23 21:47:01,NaN,NaN,NaN,NaN,-124.287000,43.373400,969.0,NaN,NaN,2021-04-22 12:37:03
1,2,corrected,nafamoso,2016-12-23 21:55:36,NaN,NaN,NaN,NaN,-124.307100,43.358900,969.0,NaN,NaN,2021-04-22 12:37:03
2,3,corrected,nafamoso,2016-12-23 21:51:24,NaN,NaN,NaN,NaN,-124.307100,43.358900,969.0,NaN,NaN,2021-04-22 12:37:03
3,4,corrected,nafamoso,2016-12-23 21:55:04,NaN,NaN,NaN,NaN,-124.307100,43.358900,969.0,NaN,NaN,2021-04-22 12:37:03
4,5,corrected,Viekson,2016-08-29 16:17:09,NaN,NaN,NaN,NaN,-124.360208,43.342115,250.0,NaN,NaN,2021-04-22 12:37:03

In [8]:
# check datatypes and structure of original dataframes
allLocationIDs.info()
georeferencedIDs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8506 entries, 0 to 8505
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   institutionCode               8498 non-null   object
 1   collectionCode                8506 non-null   object
 2   locationID                    8506 non-null   int64
 3   recordedBy                    5844 non-null   object
 4   verbatimEventDate             3609 non-null   object
 5   continent                     7722 non-null   object
 6   country                       8456 non-null   object
 7   stateProvince                 7579 non-null   object
 8   county                        5190 non-null   object
 9   fieldNumber                   2243 non-null   object
 10  earliestEraOrLowestErathem    7175 non-null   object
 11  latestEraOrHighestErathem     7175 non-null   object
 12  earliestPeriodOrLowestSystem  7033 non-null   object
 13  latestPeriodOrHighestSystem   7032 non-null   object
 14  earliestEpochOrLowestSeries   4644 non-null   object
 15  latestEpochOrHighestSeries    4645 non-null   object
 16  earliestAgeOrLowestStage      633 non-null    object
 17  latestAgeOrHighestStage       631 non-null    object
 18  stratGroup                    209 non-null    object
 19  stratFormation                3558 non-null   object
 20  stratMember                   167 non-null    object
 21  stratBed                      13 non-null     object
 22  bioZone                       20 non-null     object
 23  lithology                     941 non-null    object
dtypes: int64(1), object(23)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   locationID                                    1110 non-null   int64
 1   georeferenceVerificationStatus                1057 non-null   object
 2   georeferencedBy                               519 non-null    object
 3   georeferencedDate                             505 non-null    object
 4   georeferenceRemarks                           831 non-null    object
 5   geodeticDatum                                 680 non-null    object
 6   georeferenceProtocol                          679 non-null    object
 7   georeferenceSources                           679 non-null    object
 8   decimalLongitude                              1110 non-null   float64
 9   decimalLatitude                               1110 non-null   float64
 10  coordinateUncertaintyInMeters                 520 non-null    float64
 11  correctedUncertaintyRadiusCircularPolygonWKT  217 non-null    object
 12  correctedUncertaintyPolygonWKT                13 non-null     object
 13  dateImported                                  1110 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 121.5+ KB

In [9]:
# the range and number of non-null locationIDs match, which means there are no null locationIDs in our data
# this is important because missing values can cause errors

In [10]:
# make list of georeferenced locationIDs to compare to all locationIDs
georefLocIDs = georeferencedIDs['locationID'].to_list()

In [11]:
# check to make sure list of IDs is the same as range of georeference df
print (len(georefLocIDs))

1110

In [12]:
# .query() uses syntax similar to SQL
queryMethod = allLocationIDs.query("locationID not in @georefLocIDs")

In [13]:
# we can see that the range went from 8506 (in allLocationIDs df) to 7396
# so 1110 have been taken out and placed into the queryMethod df
# this is equal to the 1110 range in the georef df
# if the numbers are not equal, you have either have duplicate records or missing records
queryMethod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7396 entries, 26 to 8505
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   institutionCode               7391 non-null   object
 1   collectionCode                7396 non-null   object
 2   locationID                    7396 non-null   int64
 3   recordedBy                    5065 non-null   object
 4   verbatimEventDate             3139 non-null   object
 5   continent                     6612 non-null   object
 6   country                       7346 non-null   object
 7   stateProvince                 6469 non-null   object
 8   county                        4094 non-null   object
 9   fieldNumber                   1979 non-null   object
 10  earliestEraOrLowestErathem    6188 non-null   object
 11  latestEraOrHighestErathem     6188 non-null   object
 12  earliestPeriodOrLowestSystem  6069 non-null   object
 13  latestPeriodOrHighestSystem   6068 non-null   object
 14  earliestEpochOrLowestSeries   3697 non-null   object
 15  latestEpochOrHighestSeries    3698 non-null   object
 16  earliestAgeOrLowestStage      624 non-null    object
 17  latestAgeOrHighestStage       622 non-null    object
 18  stratGroup                    178 non-null    object
 19  stratFormation                2995 non-null   object
 20  stratMember                   157 non-null    object
 21  stratBed                      13 non-null     object
 22  bioZone                       19 non-null     object
 23  lithology                     721 non-null    object
dtypes: int64(1), object(23)
memory usage: 1.4+ MB

In [14]:
# an alternative to the queryMethod is the .isin() method
# we used the ~ to indicate "not in"
isInMethod = allLocationIDs[~allLocationIDs['locationID'].isin(georefLocIDs)]

In [19]:
# isin() gives the same size df as queryMethod.
# either df can be used to save a new checklist to csv
isInMethod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7396 entries, 26 to 8505
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   institutionCode               7391 non-null   object
 1   collectionCode                7396 non-null   object
 2   locationID                    7396 non-null   int64
 3   recordedBy                    5065 non-null   object
 4   verbatimEventDate             3139 non-null   object
 5   continent                     6612 non-null   object
 6   country                       7346 non-null   object
 7   stateProvince                 6469 non-null   object
 8   county                        4094 non-null   object
 9   fieldNumber                   1979 non-null   object
 10  earliestEraOrLowestErathem    6188 non-null   object
 11  latestEraOrHighestErathem     6188 non-null   object
 12  earliestPeriodOrLowestSystem  6069 non-null   object
 13  latestPeriodOrHighestSystem   6068 non-null   object
 14  earliestEpochOrLowestSeries   3697 non-null   object
 15  latestEpochOrHighestSeries    3698 non-null   object
 16  earliestAgeOrLowestStage      624 non-null    object
 17  latestAgeOrHighestStage       622 non-null    object
 18  stratGroup                    178 non-null    object
 19  stratFormation                2995 non-null   object
 20  stratMember                   157 non-null    object
 21  stratBed                      13 non-null     object
 22  bioZone                       19 non-null     object
 23  lithology                     721 non-null    object
dtypes: int64(1), object(23)
memory usage: 1.4+ MB

In [16]:
locsToBeGeoreferenced = queryMethod

In [20]:
locsToBeGeoreferenced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7396 entries, 26 to 8505
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   institutionCode               7391 non-null   object
 1   collectionCode                7396 non-null   object
 2   locationID                    7396 non-null   int64
 3   recordedBy                    5065 non-null   object
 4   verbatimEventDate             3139 non-null   object
 5   continent                     6612 non-null   object
 6   country                       7346 non-null   object
 7   stateProvince                 6469 non-null   object
 8   county                        4094 non-null   object
 9   fieldNumber                   1979 non-null   object
 10  earliestEraOrLowestErathem    6188 non-null   object
 11  latestEraOrHighestErathem     6188 non-null   object
 12  earliestPeriodOrLowestSystem  6069 non-null   object
 13  latestPeriodOrHighestSystem   6068 non-null   object
 14  earliestEpochOrLowestSeries   3697 non-null   object
 15  latestEpochOrHighestSeries    3698 non-null   object
 16  earliestAgeOrLowestStage      624 non-null    object
 17  latestAgeOrHighestStage       622 non-null    object
 18  stratGroup                    178 non-null    object
 19  stratFormation                2995 non-null   object
 20  stratMember                   157 non-null    object
 21  stratBed                      13 non-null     object
 22  bioZone                       19 non-null     object
 23  lithology                     721 non-null    object
dtypes: int64(1), object(23)
memory usage: 1.4+ MB

In [17]:
# save to csv to use as new georeferencing list
# df.to_csv('filename.csv', index=False)
# index = False means the df index wont be saved as new column in csv, 
# which is fine bc it's arbitrary in this case

In [18]:
locsToBeGeoreferenced.to_csv('newGeoreferenceList.csv', index=False)